* {
  margin: 0;
  padding: 0;
}

/* Background-Color */
.beige {
  background-color: beige;
}

/* Craft */
.craft {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px !important;
  font-weight: 700;
  color: #00eeff;
  position: absolute;
  margin-bottom: 10px !important;
  padding-left: 20px;
}

.space {
  font-family: cursive;
  font-size: 30px !important;
  font-weight: 700;
  color: crimson;
  margin-top: 20px !important;
  position: absolute;
  padding-left: 10px;
}

/* body {
  margin: 2em;
} */

.form-elements {
  padding: 20px;
}

aside {
  background: #1f8dd6;
  /* same color as selected state on site menu */
  padding: 0.3em 1em;
  border-radius: 3px;
  color: #fff;
  margin-bottom: 2em;
}

textarea {
  width: 100%;
}

.content-head {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 2em 0 1em;
}

.is-center {
  text-align: center;
}

.button-success {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(28, 184, 65);
  /* this is a green */
}

.button-xlarge {
  font-size: 125%;
}

button {
  float: right;
}

#name,
#email,
#subcategory {
  width: 50%;
}

.honeypot-field {
  display: none;
}

footer {
  background-color: darkblue;
  margin-top: 30px;
  padding: 20px;
  color: bisque;
  font-size: 15px;
  font-weight: 700;
}

footer a {
  color: chartreuse;
  text-decoration: none;
  font-family: cursive;
  font-size: 20px;
  font-weight: 700;
}

footer a:hover {
  color: #ff0088;
  text-decoration: none;
  font-family: cursive;
  font-size: 20px;
  font-weight: 700;
}